
.vs/ITC313-TP2/v16/.suo
.vs/ITC313-TP2/v16/Browse.VC.db
.vs/ITC313-TP2/v16/Browse.VC.opendb
.vs/ITC313-TP2/v16/ipch/AutoPCH/750f890e5d646ae3/MAGASIN.ipch
.vs/ITC313-TP2/v16/ipch/AutoPCH/de73092c4ad656b6/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
